<!DOCTYPE html>
<html lang="en">
<head>
    <% include partial/head %>
</head>
<body id="page-top" class="index">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <% include partial/navigation %>
    </nav>
    
    <!-- Header 
    <header>
        <% include partial/header %>
    </header>
    -->

    <section id="about">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Here I am going to write about me.</p>
                </div>
                <div class="col-lg-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas condimentum lacinia tincidunt. Vestibulum ornare, ligula tempus fermentum iaculis, erat diam congue mauris, vel ornare sapien ligula a lorem. Maecenas ipsum lorem, sodales vel magna ut, lobortis ultricies leo. In sodales tristique pulvinar. Nulla sed urna ut leo auctor pellentesque. Quisque a tellus sem. Cras vel odio enim. Proin facilisis erat consectetur nunc euismod semper. Quisque sagittis arcu in dapibus suscipit. Mauris vulputate faucibus purus. Mauris ultrices volutpat dignissim. Curabitur augue massa, eleifend et elementum a, consectetur in nisi. Sed faucibus lacinia finibus. Vestibulum aliquet enim egestas elit mollis fermentum. Nam non tellus mattis, gravida nibh in, scelerisque lacus. Etiam at felis dolor.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <% include partial/footer %>
    </footer>
    
</body>
</html>