<!-- 
##### HEADER #####
File name: about.ejs
Author: Douglas Krein
Website: www.krein.me
Description: file with the about information
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partial/head %>
</head>
<body id="page-top" class="index">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <% include partial/navigation %>
    </nav>
    <section id="about">
         <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Software Developer from Brazil. I've been work since I am 17 years old, and my biggest regret was to work on companies with old techonologies.<br><br><br><br>
                    Technologies I already worked with:<br>
                    Informix 4gl<br>
                    Magic Unipass<br>
                    VB6<br>
                    PHP 5.3<br>
                    MySQL, MSSQL, Oracle 10g</p>
                </div>
                <div class="col-lg-4">
                    <p>I left everything I had back in my country to try a better life here in Canada.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <% include partial/footer %>
    </footer>
    
</body>
</html>