<!DOCTYPE html>
<html lang="en">
<head>
    <% include partial/head %>
</head>
<body id="page-top" class="index">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <% include partial/navigation %>
    </nav>
    
    <!-- Header 
    <header>
        <% include partial/header %>
    </header>
    -->

   <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Douglas Krein</span>
                        <hr class="star-primary">
                        <span class="skills">Stuff Developer - Gamer</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <footer>
        <% include partial/footer %>
    </footer>
    
</body>
</html>