<!-- 
##### HEADER #####
File name: services.ejs
Author: Douglas Krein
Website: www.krein.me
Description: file with the services information
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partial/head %>
</head>
<body id="page-top" class="index">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <% include partial/navigation %>
    </nav>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Services</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>The services I already did were:<br>
                    - Developed evolutions, customizations, maintenance and projects using Informix-4gl language<br> 
                    - Pioneered a CRM system using VB 6, .NET 3.5 and MSSQL Server 2003<br>
                    - Developed evolutions, customizations, maintenance and system enhancements in modules: Production Control Planning and Programming Manager (PPCP), Materials Management and Inventory, Services Management, Scrum Management using Magic Unipaas <br>
                    - Worked developing dynamic websites and web apps using PHP Codeigniter, JavaScript, jQuery, CSS and MySQL.  <br>
                    - Worked developing dynamic apps using JavaScript and Appceleator integrated with SQLite <br>
                    - Game Development with Kinect Technology and Unity as Game Engine <br></p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <% include partial/footer %>
    </footer>
    
</body>
</html>